.popup-overlay{
 display:none;
 position:fixed;
 top:0;
 left:0;
 width:100%;
 height:100%;
 background:rgba(0,0,0,0.6);
 justify-content:center;
 align-items:center;
 z-index:9999;
}

.popup-box{
 background:#fff;
 padding:25px;
 border-radius:12px;
 text-align:center;
 width:320px;
 box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.popup-close{
 cursor:pointer;
 font-size:26px;
 display:block;
 text-align:left;
 margin-bottom:10px;
}

.popup-img{
 width:100%;
 border-radius:10px;
 margin-bottom:10px;
}
